body {
  background: #200633;
  font-family: "Rubik", sans-serif;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

footer {
  padding: 4px 0 0 0;
  font-size: 9px;
  color: rgba(82, 73, 122, 0.4);
  text-align: center;
}
a {
  color: rgb(228, 138, 187);
}
main {
  padding: 30px 0;
}

.weather-app {
  background-color: white;
  margin: 45px auto;
  max-width: 431px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  line-height: 1.5;
  justify-content: space-around;
}
.search-form {
  text-align: center;
}
.write-button {
  border: none;
  background-color: #ede2f6;
  border-radius: 6px;
  width: 63%;
  font-size: 10px;
  padding: 13px 42px;
}

.search-botton {
  background: #110018;
  padding: 12px 28px;
  border: none;
  font-size: 10px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.weather-image {
  margin: -10px auto;
  max-width: 22%;
  height: auto;
}

.weather-app-temperature-container {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 31px;
}

.extra-info {
  text-align: center;
}
.humidity-wind {
  color: #f65282;
}
.city-country,
.day-hour {
  display: flex;
  justify-content: center;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 35px;
  height: 42px;
  display: block;
  margin: 0px auto;
}

.weather-forecast-temperatures {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

